* {
    box-sizing: border-box; /* border-box: border and padding is part of width, margin is not part of width*/
    padding: 0;
    margin: 0;
}

main {
    width: 100%;
    height: 500px;
    border: 10px solid gray;
    padding: 20px 35px;
}