header {
    background-color: black;
}

main {
    background-color: gray;
}

footer {
    background-color: black;
}

figure {
    width: 100px;
    height: 100px;
}

img {
    width: 100%;
    height: 100%;
}

.title {
    color: white;
}

#text-footer {
    color: white;
}